/* 찾기 */
.find, .agree {
    margin-bottom: 100px;
}
.find div{
    display: flex;
    gap: 20px;
}
.find a{
    position: relative;
}
.find a:not(:last-child)::after{
    content: '';
    position: absolute;
    top: 2px;
    right: -11px;
    width: 1px;
    height: 1rem;
    background: #cccccc;
}

/* 버튼 */
.action button[type="submit"],
.action button[type="button"]{
    padding: 16px;
    border-radius: 12px;
}

/* 입력창 */
input{
    border-radius: 10px;
    font-size: 1rem;
    position: relative;
}
input::placeholder{
    color: #cccccc;
}

/* 약관 동의 */
#agree-all{
    margin: 4px 10px 0 0;
}
.form-check-label {
    margin: 0;
}
